:root {
  --victory: mediumseagreen;
  --lose: tomato;
  --draw: royalblue;
}


body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}

body[class]:after {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  animation: result 0.25s ease-in-out .5s;
  font-size: 1rem;
}

/*Selextor de tributo que empieze con  ___ a body*/
body[class*="___"] {
  background-position: calc(50vw + .5rem) calc(50vh - 4rem);
  transition: background-color 0.25s ease-in-out .5s;
  animation: figth 1s ease-in-out;
}

[class*="___"] {
  background-position: calc(50% - 2rem) top;
  background-repeat: no-repeat;
}

button {
  margin: 1rem;
  padding: 0.5rem 1rem;
  &[disabled] {
    opacity: 0;
  }
}

main {
  padding: 3rem 0 0 0;
  position: relative;
  &[class*="___"]:before {
    content: 'vs';
    position: absolute;
    top: 15px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    animation: fireTextShadow 1s ease-in-out infinite alternate;
    font-size: 1.25rem;
  }
}

.win {
  background-color: var(--victory);
  &:after {
    content: "Ganaste";
  }
}

.lose {
  background-color: var(--lose);
  &:after {
    content: "Perdiste";
  }
}

.draw {
  background-color: var(--draw);
  &:after {
    content: "Empate";
  }
}

.___Piedra {
  background-image: url(https://img.icons8.com/color/48/rock.png);
}

.___Papel {
  background-image: url(https://img.icons8.com/color/48/paper.png);
}

.___Tijera {
  background-image: url(https://img.icons8.com/color/48/scissors.png);
}

@keyframes figth {
  from {
    background-position: calc(50vw + .5rem) 0;
  }
  to {
    background-position: calc(50vw + .5rem) calc(50vh - 5rem);
  }
}

@keyframes result {
  from {
    opacity: 0;
    transform: scale(3);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes win {
  from {
    filter: opacity(1);
  }
  to {
    filter: opacity(0.5);
  }
}

@keyframes fireTextShadow {
  0% {
      text-shadow: 0 0 2px red;
  }

  100% {
    text-shadow: 0 0 5px blue;
  }
}